actionlib==1.11.4
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
bondpy==1.7.16
camera-calibration==1.12.15
camera-calibration-parsers==1.11.10
catkin==0.6.16
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cv-bridge==1.11.11
cycler==0.10.0
decorator==4.4.0
diagnostic-analysis==1.8.7
diagnostic-common-diagnostics==1.8.7
diagnostic-updater==1.8.7
dynamic-reconfigure==1.5.39
gazebo-plugins==2.5.1
gazebo-ros==2.5.1
gencpp==0.5.3
geneus==2.2.4
genlisp==0.4.15
genmsg==0.5.6
genpy==0.5.7
hyperlink==19.0.0
idna==2.8
image-geometry==1.11.11
imageio==2.5.0
incremental==17.5.0
interactive-markers==1.11.1
kiwisolver==1.1.0
laser-geometry==1.6.4
lxml==4.4.1
matplotlib==3.1.1
message-filters==1.11.16
networkx==2.3
numpy==1.17.0
opencv-contrib-python==4.1.1.26
pandas==0.25.0
parsel==1.5.2
Pillow==6.1.0
plotly==4.1.0
pluginlib==1.10.1
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
python-dateutil==2.8.0
python-qt-binding==0.2.17
pytz==2019.2
PyWavelets==1.0.3
qt-dotgraph==0.2.29
qt-gui==0.2.29
qt-gui-cpp==0.2.29
qt-gui-py-common==0.2.29
queuelib==1.5.0
requests==2.22.0
resource-retriever==1.11.6
retrying==1.3.3
rosbag==1.11.16
rosboost-cfg==1.12.5
rosclean==1.12.5
roscreate==1.12.5
rosgraph==1.11.16
roslaunch==1.11.16
roslib==1.12.5
roslint==0.10.0
roslz4==1.11.16
rosmake==1.12.5
rosmaster==1.11.16
rosmsg==1.11.16
rosnode==1.11.16
rosparam==1.11.16
rospy==1.11.16
rosservice==1.11.16
rostest==1.11.16
rostopic==1.11.16
rosunit==1.12.5
roswtf==1.11.16
rqt-action==0.3.12
rqt-bag==0.3.12
rqt-bag-plugins==0.3.12
rqt-console==0.3.12
rqt-dep==0.3.12
rqt-graph==0.3.12
rqt-gui==0.2.14
rqt-gui-py==0.2.14
rqt-image-view==0.3.12
rqt-launch==0.3.12
rqt-logger-level==0.3.12
rqt-moveit==0.4.2
rqt-msg==0.3.12
rqt-nav-view==0.4.2
rqt-plot==0.3.12
rqt-pose-view==0.4.2
rqt-publisher==0.3.12
rqt-py-common==0.3.12
rqt-py-console==0.3.12
rqt-reconfigure==0.3.12
rqt-robot-dashboard==0.4.2
rqt-robot-monitor==0.4.2
rqt-robot-steering==0.4.2
rqt-runtime-monitor==0.4.2
rqt-rviz==0.4.2
rqt-service-caller==0.3.12
rqt-shell==0.3.12
rqt-srv==0.3.12
rqt-tf-tree==0.4.2
rqt-top==0.3.12
rqt-topic==0.3.12
rqt-web==0.3.12
rviz==1.11.10
scikit-image==0.15.0
scipy==1.3.1
Scrapy==1.7.3
sensor-msgs==1.12.3
service-identity==18.1.0
six==1.12.0
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.16
tf==1.11.7
tf-conversions==1.11.7
tf2-geometry-msgs==0.5.12
tf2-kdl==0.5.12
tf2-py==0.5.12
tf2-ros==0.5.12
torch==1.2.0
torchvision==0.4.0
Twisted==19.7.0
urllib3==1.25.3
w3lib==1.21.0
xacro==1.10.6
zope.interface==4.6.0
